@import '../../../assets/fontawesome/css/all.min.css';

:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

:host i.small {
  font-size: 10px;
}

:host i.medium {
  font-size: 18px;
}

:host i.large {
  font-size: 25px;
}
