:host {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: #f6f8fa;
  min-height: 180px;
}

div.top {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.top > div {
  display: flex;
}

@media screen and (max-width: 950px) {
  div.top {
    flex-flow: column;
    align-items: flex-start;
  }

  div.top > div {
    align-self: flex-end;
  }
}
