:host {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: #f6f8fa;
  height: 180px;
}

div.top {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.top > div {
  display: flex;
}
