li {
  display: grid;
  list-style-type: none;
  height: 30px;
  max-width: 700px;
  grid-template-columns: 40px 2fr 4fr 100px;
  border-style: solid;
  border-color: #aaa;
  border-width: 0 1px 1px;
}

.hover:hover {
  background: #f6f8fa;
}

.rounded {
  border-radius: 0 0 7px 7px;
}

.iconslot {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
}

.filename {
  grid-column: 2 / 3;
}

.commit {
  grid-column: 3 / 4;
}

.date {
  grid-column: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
