button {
  display: flex;
  align-items: baseline;
  background-color: #f6f8fa;
  border: 1px solid #d3d4d6;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
}

button:hover {
  background-color: #f3f4f6;
}

button:active {
  background-color: #ebecef;
}

:host(.green) button {
  background: #53a258;
  color: white;
}

:host(.green) button:hover {
  background: #4e9553;
}

:host(.green) button:active {
  background: #498c4e;
}
