a {
  margin: 10px;
  padding: 5px;
  border-radius: 7px;
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: #eee;
}

:host(.inverted) a {
  color: white;
  background-color: black;
}

:host(.inverted) a:hover {
  color: #bbb;
  background-color: black;
}
