:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: hidden;
}

a {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  color: #2e67d3;
}

:host(.align-left) {
  justify-content: flex-start;
}

:host(.button) a {
  padding: 2px 5px;
  background-color: #f6f8fa;
  border: 1px solid #d3d4d6;
  border-radius: 7px;
}

:host(.underline) a:hover {
  text-decoration: underline;
}

:host(.blue),
:host(.blue) a:link,
:host(.blue) a:visited {
  color: #2e67d3;
}

:host(.button) a:hover {
  color: black;
}

:host(.button) a:active {
  color: black;
  background-color: #ebecef;
}
