li {
  /* display: block; */

  /* padding: 10px; */
  list-style-type: none;
  margin: 2px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
}

li input {
  background-color: #ccc;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  width: auto;
}

.done {
  text-decoration: line-through;
}
