header {
  background: black;
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 10px;
}

@media screen and (max-width: 650px) {
  gh-input,
  gh-navbar {
    display: none;
  }

  header {
    justify-content: center;
  }
}
