a {
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
  color: black;
  text-decoration: none;
  position: relative;
}

a:hover {
  background-color: #eaedf1;
  transition: background-color 200ms;
}

hr {
  display: none;
}

:host(.selected) hr {
  display: block;
  position: absolute;
  width: 100%;
  right: 0;
  height: 2px;
  background-color: #e97;
  border: none;
}
